.db_footer-view{
	background: url("../img/footer.jpg")no-repeat top center;
	color: white;

}
.db-footer_p_one{
	font-size: 17px;
	font-family: "fontawesome";

}
.db-footer_p_two{
	font-family: "SF-UI-Text-Medium";
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

